SESSION_SECRET=
AAF_CLIENT_ID=
AAF_CLIENT_SECRET=
AAF_DISCOVERY_URL=https://central.test.aaf.edu.au/.well-known/openid-configuration
AAF_REDIRECT_URI=http://localhost:5000/auth/callback
PORT=5000
NODE_ENV=development
SESSION_COOKIE_SECURE=false
TRUST_PROXY=false
